
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@media only screen and (max-width: 480px) {
  body,
  html {
    overflow-x: hidden;
    background-color: #fff;
    width: 100%;
  }
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .free {
    position: static;
  }

  .main-image {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    position: relative;
    
  }

  .right-first {
    z-index: 20;
    border-radius: 100px;
    background-color: #d7b58e;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45px;
    right: -160px;
  }

  .second-image {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    position: relative;
  }

  .right-second {
    border-bottom-left-radius: 100px;
    background-color: #47856e;
    z-index: 20;
    width: 140px;
    height: 150px;
    position: absolute;
    top: -75px;
    right: -200px;
  }

  .third-image {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    position: relative;
  }

  .right-third {
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    background-color: #185f28;
    z-index: 20;
    width: 70px;
    height: 141px;
    position: absolute;
    top: 18px;
    right: -200px;
  }

  .image {
    z-index: 50;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 350px;
    margin-top: -100px;
    left: -5px;
  }

  .image-1 {
    width: 350px;
    height: 500px;
  }

  .middle-main-page {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
  }

  .middle-page { 
    justify-content: center;
    align-items: center;
    width: 360;
    height: 400px;
    color:#c08b4f;
    text-align: center;
  }

  .dinners{
    width: 240px;
    margin-left: 10px;
    margin-top: 15px;
  }

  .main-dinner{
    border-radius: 100%;
    height: 250px;
    width: 250px;
  }

  .maindinner{
    margin-left: 10px;
    font-size: 40px;
    font-style: italic;
    text-shadow: 10px;

  }

  .maindinner-link{
    text-decoration: none;
    color: #c08b4f;
  }



}

@media only screen and (max-width: 320px) {
  .right-first {
    z-index: 20;
    border-radius: 100px;
    background-color: #d7b58e;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45px;
    right: -160px;
  }
  
  .image {
    z-index: 50;
    display: flex;
    justify-content: center;
    height: 450px;
    width: 300px;
    margin-top: -100px;
    left: -5px;
  }

  .image-1 {
    width: 300px;
    height: 450px;
  }
}
